<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<h4>Vote Now</h4>
 <div id="like-comp"> 
  <%= render 'vote' %>
</div>

<h4>Comments</h4>

<div id="comment_pane">
  <% @comments.each do |comment| %>
   <%= render 'comments/comment', comment: comment %>
    
  <% end %>
</div>

<hr>
<% if user_signed_in? %>
  <% unless @post.user == current_user%>
    <h4>Add Comment</h4>

    <%= form_with model: [@post, @post.comments.build], id: "comment", local: false do |form| %>
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>

      <div class="actions">
        <%= form.submit "Paylaş" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @post.user %>
 <%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>
|
<%= link_to 'Back', :back %>
